%div{:id => 'header_container'}
  %header
    %h1 Rails CRUD

%div{:id => 'content_container'}
  %ul
    %li
      %a{:href => '/bands'}Bands
      \- Basic CRUD with Nested Routes (Instruments)
    %li
      %a{:href => '/colors'}Colors
      \- Basic CRUD with Validations
    %li
      %a{:href => '/wines'}Wines
      \- Validations, helpers, and unit testing
    %li
      = link_to 'Cars', cars_path
      \- Link_to, custom errors, and partials