%form{:action => "/bands/#{@band.id}", :method => 'post'}
  %input{:type => 'hidden', :name => '_method', :value => 'put'}
  %label Band Name
  %input{:type => 'text', :name => 'name', :value => @band.name}
  %label Genre
  %input{:type => "text", :name => "genre", :value => @band.genre}
  %label # of members
  %input{:type => "text", :name => "members", :value => @band.members}
  %button{:type => "submit", :value => "Update Band"} Update Band