%a{:href => '/bands/new'}Create

%p
- @bands.each do |band|
  %a{:href => "/bands/#{band.id}"}=band.name
  %a{:href => "/bands/#{band.id}"}= band.genre
  %a{:href => "/bands/#{band.id}"}= band.members
  %br