%form{:action => "/bands", :method => 'post'}
  %label Band Name
  %input{:type => "text", :name => "name"}
  %label Genre
  %input{:type => "text", :name => "genre"}
  %label # of members
  %input{:type => "text", :name => "members"}
  %button{:type => "submit", :value => "Create Band"}Create Band


