%ul
  %li
    Name:
    = @color.name
  %li
    Primary color?
    = @color.primary.to_s.capitalize
  %li
    Spectrum:
    = @color.spectrum
    Spectrum

%a{:href => "/colors/#{@color.id}/edit"} Edit