body {
    font-family: LeagueGothic, Arial Narrow, Helvetica, sans-serif;
}

header {
    color: maroon;
    font-family: LeagueGothic, Arial Narrow, Helvetica, sans-serif;
}

nav {
    background-color: black;
    overflow: hidden;
}

#header_container,
#nav_container,
#content_container,
#form_container {
    margin: auto;
    width: 980px;
}

#form_container {
    width: 400px;
}

.dataset {
    margin: auto;
    width: 700px;
    border: 1px solid dimgray;
}

.dataset tr td {
    padding: 1em;
    text-align: center;
    border: 1px solid dimgray;
}

/*error styling*/
.error_list {
    color: maroon;
    padding-bottom: 1em;
}

/* ----- =menu (Primary Nav) ----- */


#menu {
    float: right; /* or float: left */
    margin: 0 10px 0 0;
}

#menu li {
    float: left;
    list-style: none;
}

#menu li a {
    font-size: 120%;
    font-weight: bold;
    color: #fff;
    padding: 17px 25px 15px 25px;
    display: block;
    text-decoration: none;
}

#menu li a:hover {
    color: #fff;
    background-color: #3b2c2c;
}

/*Borders between each button */
#menu li+li {
    border-left: 1px solid #000;
}

/*Borders on both sides */
#menu li:first-child a {
    border-left: 1px solid #000;
}
#menu li:last-child a {
    border-right: 1px solid #000;
}