#header_container
  %header
    %h1
      Cars

#content_container
  %table.dataset
    %tr
      %td
        Make
      %td
        Model
      %td
        Year
      %td
        Engine
      %td
        Turbocharged
    = render 'cars'
  = link_to 'Add Car', new_car_path