%div{:id => 'header_container'}
  %header
    %h1 Add Wine

%div{:id => 'form_container'}
  =form_for(@wine) do |f|
    -if @wine.errors.any?
      %div{:class => 'error_list'}
        -@wine.errors.full_messages.each do |message|
          =message
          %br
    .form-input
      =f.label('Name')
      =f.text_field(:name)
    .form-input
      =f.label('Style')
      =f.text_field(:style)
    .form-input
      =f.label('Color')
      =f.text_field(:color)
    .form-input
      =f.label('Rating')
      =f.text_field(:rating)
    .form-submit
      =f.submit('Create')