%ul
  %li
    Name:
    = @wine.name
  %li
    Style:
    = @wine.style
  %li
    Color:
    = @wine.color
  %li
    Rating:
    = @wine.rating

=link_to("Edit", edit_wine_path)
=link_to("Back", wines_path)